## Load data

In [2]:
import pandas as pd # package for high-performance, easy-to-use data structures and data analysis
import numpy as np # fundamental package for scientific computing with Python
import math

In [3]:
donors = pd.read_csv('Donors.csv', low_memory=False)

#donors = donors.head(100)

print(' donations: ',donations.shape,'\n','donors: ',donors.shape,'\n','schools',schools.shape,'\n','teachers',teachers.shape,'\n','projects',teachers.shape,'\n','resources',resources.shape)

In [4]:
donors.head(5)

,Donor ID,Donor City,Donor State,Donor Is Teacher,Donor Zip
0,00000ce845c00cbf0686c992fc369df4,Evanston,Illinois,No,602
1,00002783bc5d108510f3f9666c8b1edd,Appomattox,other,No,245
2,00002d44003ed46b066607c5455a999a,Winton,California,Yes,953
3,00002eb25d60a09c318efbd0797bffb5,Indianapolis,Indiana,No,462
4,0000300773fe015f870914b42528541b,Paterson,New Jersey,No,075

In [5]:
#this piece of code converts Donor_ID which is a 32-bit Hex int to the log of the base 10 equivalent
#dfM = pd.read_csv('Donors.csv', low_memory=False)

#dfM.rename(index=str, columns={"Donor ID": "donor_id"},inplace=True)

dfM=donors['Donor ID'].apply(pd.Series)

dfM["new0"] = np.nan
dfM["new1"] = np.nan
dfM["new2"] = np.nan
dfM["new3"] = np.nan
dfM["new4"] = np.nan
dfM["power"] = np.nan

dfM.new1 = dfM[0].apply(lambda x: str(x[-int(len(x)/2):]))
dfM.new0 = dfM[0].apply(lambda x: str(x[:-int(len(x)/2)]))

dfM.new0 = dfM.new0.apply(lambda x: (int(x, 16)))
dfM.new1 = dfM.new1.apply(lambda x: (int(x, 16)))

dfM.power = dfM.new1.apply(lambda x: int(math.log10(x)))

dfM.new2 = dfM.new0.apply(lambda x: math.log10(x))
dfM.new3 = dfM.new1.apply(lambda x: math.log10(x))

dfM.new4 = ((dfM.new2 + dfM.new3 + dfM.power)*10**15)
dfM.new4.astype(int)
dfM.new4.apply(np.floor)
dfM = dfM.drop(['new0', 'new1', 'new2','new3','power'], axis=1)

dfM.rename(index=str, columns={0: "Donor ID", "new4":"donor_id"},inplace=True)


#add logDonorID as donor_id to donors
donors = donors.merge(dfM, left_on='Donor ID', right_on='Donor ID', how="left")

#donations = donations.merge(dfM, left_on='Donor ID', right_on='Donor ID', how="right")

In [6]:
#check for duplicates
from collections import Counter
mylist = donors.donor_id
a=[k for k,v in Counter(mylist).items() if v>1]
len(a)

0

In [7]:
donors.head(5)

,Donor ID,Donor City,Donor State,Donor Is Teacher,Donor Zip,donor_id
0,00000ce845c00cbf0686c992fc369df4,Evanston,Illinois,No,602,4.782440e+16
1,00002783bc5d108510f3f9666c8b1edd,Appomattox,other,No,245,4.972488e+16
2,00002d44003ed46b066607c5455a999a,Winton,California,Yes,953,4.836073e+16
3,00002eb25d60a09c318efbd0797bffb5,Indianapolis,Indiana,No,462,5.026328e+16
4,0000300773fe015f870914b42528541b,Paterson,New Jersey,No,075,5.071083e+16

In [8]:
donors.donor_id.apply(np.floor)

0          4.782440e+16
1          4.972488e+16
2          4.836073e+16
3          5.026328e+16
4          5.071083e+16
5          5.064371e+16
6          5.045585e+16
7          5.201484e+16
8          5.072579e+16
9          5.209977e+16
10         5.051297e+16
11         5.075352e+16
12         5.076792e+16
13         5.240549e+16
14         5.224751e+16
15         5.105908e+16
16         5.238592e+16
17         5.235027e+16
18         5.108328e+16
19         5.227502e+16
20         5.226773e+16
21         5.248669e+16
22         5.247505e+16
23         5.087434e+16
24         5.116655e+16
25         5.079559e+16
26         5.257336e+16
27         5.113755e+16
28         5.257221e+16
29         5.131830e+16
               ...
2122610    5.620866e+16
2122611    5.749653e+16
2122612    5.619294e+16
2122613    5.617726e+16
2122614    5.527869e+16
2122615    5.402684e+16
2122616    5.751680e+16
2122617    5.748365e+16
2122618    5.621188e+16
2122619    5.728177e+16
2122620    5.742404e+16
2122621    5.585064e+16
2122622    5.732763e+16
2122623    5.615090e+16
2122624    5.625118e+16
2122625    5.728940e+16
2122626    5.750603e+16
2122627    5.597274e+16
2122628    5.730906e+16
2122629    5.599904e+16
2122630    5.608113e+16
2122631    5.738772e+16
2122632    5.592767e+16
2122633    5.748427e+16
2122634    5.746045e+16
2122635    5.555801e+16
2122636    5.589303e+16
2122637    5.732498e+16
2122638    5.531066e+16
2122639    5.618868e+16
Name: donor_id, Length: 2122640, dtype: float64

In [9]:
donors.donor_id.iloc[0]

47824396695228792.0